.definition {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__info {
    display: flex;
    justify-content: space-between;
    // grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;

    &-word {
      font-size: var(--fs-elg);
      color: var(--color-text);
    }

    &-phonetic {
      font-size: var(--fs-lg);
      color: var(--color-purple);
    }
  }

  &__audio {
    .audio__button {
      position: relative;
      display: flex;
      background-color: var(--color-text);
      width: 60px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s;

      &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        background-color: var(--color-purple);
        width: 20px;
        aspect-ratio: 1;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        transition: background-color 0.2s;
      }
    }

    @media (hover: hover) {
      .audio__button:hover {
        background-color: var(--color-purple);
        &::after {
          background-color: var(--color-text);
        }
      }
    }

    @media (hover: none) {
      .audio__button:active {
        background-color: var(--color-purple);
        &::after {
          background-color: var(--color-text);
        }
      }
    }
  }

  .detail {
    &__item {
      &:not(:last-child) {
        margin-bottom: 30px;
        border-bottom: 1px solid var(--color-ui-change);
      }

      &-header {
        text-transform: uppercase;
        font-size: var(--fs-lg);
      }

      &-text {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        // margin-left: 0;
        // list-style: circle;
      }
    }
  }
}
